.intro{
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    width: 100%;
    font-size: large;
    padding-top: 7rem;

    // Specificity High from child
    h1{
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 2rem;
        font-family: 'Inconsolata', monospace;
    }
    p{
        font-size:large;
    }
    
     
    &__descriptive{
        width: 100%;
        margin-bottom: 6rem;
    }

    &__neon{
        color: #fff;
        text-shadow:
        0 0 2px #fff,
        0 0 5px rgb(13, 86, 243),
        0 0 15px rgb(13, 86, 243),
        0 0 42px rgb(13, 86, 243),
        0 0 82px rgb(13, 86, 243);
        padding-left: 6rem;
        transform: scale(1.5);
        animation: flicker 1.5s infinite alternate; 
        margin: 2rem;
    }
    /* Flickering animation */
        @keyframes flicker {
    
          0%, 18%, 22%, 25%, 53%, 57%, 100% {
    
          text-shadow:
           0 0 4px rgb(33, 224, 192),
           0 0 11px rgb(33, 224, 192),
           0 0 19px rgb(33, 224, 192),
           0 0 40px rgb(33, 224, 192),
           0 0 80px rgb(33, 224, 192),
           0 0 95px rgb(33, 224, 192),
    
          }
    
             20%,30%, 55% {        
            text-shadow: none;
        }    
     }
    &__right{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
    }
   
    &__left{
        display:block;
        margin-left: 4rem;
    }

    &__image,img{
        
            border-radius: 50%;
            width: 350px;
            height: auto;
            
    }
    
   
}
@media only screen and (max-width: 425px){
    .intro{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &__image,img{
        margin-right: 3rem;
        border-radius: 50%;
        width: 250px;
        height: auto;
        
     }
     &__left{
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content:left;
        width: 90%;
    }
    &__descriptive{
        width: 80%;
        padding-right: 2rem;
    }
    &__content{
       display: none;
      
    }
    &__right{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 2rem;
    }
    }
    
    
}